body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0d47a1, #302b63, #24243e);
}

.main {
	position: relative; /* Wichtig, um die Statistiken relativ zum 'main'-Container zu positionieren */
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
// input{
// 	width: 60%;
// 	height: 40px;
// 	background: #f3f3f3;
// 	justify-content: center;
// 	display: flex;
// 	margin: 20px auto;
// 	padding: 10px;
// 	border: none;
// 	outline: none;
// 	border-radius: 10px;
// }
button{
	width: 75%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #0d47a1;
	background: #ffffff;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #d4d4d4;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #0d47a1;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

.loading-button {
	position: relative;
	overflow: hidden;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #3498db; /* Hintergrundfarbe des Buttons */
	color: #fff; /* Textfarbe des Buttons */
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
  }
  
  .loading-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 4px solid rgba(255, 255, 255, 0.3); /* Halbtransparenter Rand des Kreises */
	border-top: 4px solid #fff; /* Weißer Rand des Kreises an der Spitze */
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 1s linear infinite; /* Animation: Drehung */
  }
  
  @keyframes spin {
	0% { transform: translate(-50%, -50%) rotate(0deg); }
	100% { transform: translate(-50%, -50%) rotate(360deg); }
  }
  
  .loading-text {
	opacity: 0; /* Verstecke den Text */
	transition: opacity 0.5s ease; /* Übergang für die Opazität */
  }
  
  .loading-text.visible {
	opacity: 1; /* Zeige den Text */
  }
  
  .error-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,0,0,0.7); /* Rot mit Transparenz */
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 10; /* Stellen Sie sicher, dass es über anderen Elementen schwebt */
}

.error-message {
    color: red;
    position: absolute;
    font-size: 0.8
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Reduziere den Abstand zwischen den Containern, wenn nötig */
}

input {
    width: 60%; /* oder eine spezifische Breite, die zu deinem Design passt */
    height: 40px; /* Höhe des Eingabefelds */
    margin-bottom: 10px; /* Reduziere oder entferne den unteren Rand der Eingabefelder, falls vorhanden */
    /* Restliche Stile bleiben unverändert */
	background: #f3f3f3;
	justify-content: center;
	display: flex;
	padding: 10px;
 	border: none;
 	outline: none;
	border-radius: 10px;

}

// input{
// 	width: 60%;
// 	height: 40px;
// 	background: #f3f3f3;
// 	justify-content: center;
// 	display: flex;
// 	margin: 20px auto;
// 	padding: 10px;
// 	border: none;
// 	outline: none;
// 	border-radius: 10px;
// }

.input-error {
    color: lightcoral;
    font-size: 0.8em;
    position: absolute;
    top: 50px; /* Pass die Position basierend auf der Höhe des Input-Felds an */
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* oder eine spezifische Breite, die zu deinem Design passt */
    text-align: center;
    margin-top: 0; /* Stelle sicher, dass kein oberer Rand hinzugefügt wird */
}