<!-- <div class="card" (click)="redirectToRoute()">
    <h2>{{toolFunctionName | transloco}}</h2>
    <p class="descriptionText">{{toolFunctionDescription | transloco}}</p>
</div> -->
<!-- 
<div class="container">
    <h2 id="functionTitle">{{toolFunctionName | transloco}}</h2>
    <p id="functionDescription">{{toolFunctionDescription | transloco}}</p>
</div> -->

<div id="cardBox">
    <div id="imgDiv">
        <img src="{{toolImage}}">
    </div>
    <div id="titleDiv">
        <h2>{{toolFunctionName | transloco}}</h2>
    </div>
    <div id="descriptionDiv">
        <p>{{toolFunctionName | transloco}}</p>
    </div>
</div>