.back-button {
  background-color: rgb(20,20,20);
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

label{
  color: white;
}

.save-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center; /* Zentriert den Button im Container */
  margin-top: 10px; /* Fügt Abstand nach dem <hr> ein */
}

div {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

button {
  background-color: gray;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;transition: background-color 0.3s, color 0.3s;
}

button:hover {
  
  background-color: white;
  color: rgb(20,20,20);
}

.information-name {
  margin-right: 10px;
}

.form-container {
  width: 100%;
  padding: 20px;
}


.form-group {
  margin: 0 auto; 
  padding: 10px;
  margin-right: 30px;
  min-height: 500px;
}

.form-row {
  display: flex;
  justify-content: space-evenly;
}

.back-button {
  margin-right: 100px;
  width: 200px;
}

.added-information{
  display: flex;
  justify-content: space-between;
}

.hidden-button {
  opacity: 0;
  pointer-events: none;
}

.border {
  padding: 5px;
  border: 10px solid #ccc;
  min-height: 200px;
  min-width: 350px;
}

#selectionBox {
  position: relative; /* Damit position: absolute; des Titels relativ zu diesem Container ist */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  width: fit-content;
  min-width: 500px;
  height: 100%;
  min-height: 500px;
  padding: 20px 20px 20px 20px; /* Angepasst, um Platz für den Titel zu schaffen */
  margin: 30px;
  border: 2px solid white;
}

#saveTableBtn {
  align-self: center; /* Zentriert den Button im Container */
  margin-top: 10px; /* Fügt etwas Abstand zum oberen Element hinzu */
}

#selectionBox::before {
  content: 'Informationen in der Übersicht'; /* Titel der OptionsBox */
  position: absolute;
  top: -15px; /* Positioniert den Titel über dem oberen Rand */
  left: 20px; /* Horizontale Position */
  background-color: rgb(20, 20, 20); /* Hintergrundfarbe des Titels */
  color: white; /* Textfarbe */
  padding: 0 10px; /* Innerer Abstand */
  border-radius: 5px; /* Rundet die Ecken des Titel-Containers */
  font-size: 15px; /* Größere Schrift */
  font-weight: bold;
}

#saveTableBtn{
  max-height: 300px;
}

.items-wrapper {
  overflow-y: auto;
  height: 420px;
}

.title {
  position: absolute;
  top: -20px;
  left: 20px;
  background-color: rgb(20, 20, 20);
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

.added-information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.information-name {
  margin-right: 10px;
}
